/node_modules
/public/hot
/public/storage
/public/css/*.css
/public/js/*.js
/public/mix-maifest.js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
